<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome on Admin page!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1>hi, it's me "Admin Page"</h1>
</body>
</html>


